[data-theme-version="dark"] {
    .nav-header, 
    .nav-control {
        background-color:$dark-card;
    }

    .nav-control {
        color: $white;
    }

    .brand-logo {
        color: $white;

        &:hover {
            color: $white;
        }
    }
	.brand-title{
		color:$white;
	}
}